
.translation {
    
    background-color: grey;
    color:white;
    visibility: visible;
    text-align: center;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    position: absolute;
    font-weight: lighter;
    z-index: 1;
    transform: translate(-60%, -110%);
}

.wordsInTranslation {
    font-weight: bold;
}

.translatedText {
    background-color: yellow;
}